<div class="transactions-wrapper">
  <div class="transactions-header">
    <h2>Transactions</h2>
  </div>
  <div id="transactions-table" class="transactions-table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Roll No</th>
          <th>Subevent</th>
          <th>Team Size</th>
          <th>Verication Number</th>
          <th class="amount-col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Event Name</td>
          <td id="eventname">--</td>
          <td rowspan="5" id="amount" class="amount-display">--</td>
        </tr>
        <tr>
          <td>Subevent</td>
          <td id="subevent">--</td>
        </tr>
        <tr>
          <td>Team Size</td>
          <td id="teamsize">--</td>
        </tr>
        <tr>
          <td>Verification Number</td>
          <td id="vernum">--</td>
        </tr>
        <tr>
          <td>Date</td>
          <td id="date">--</td>
        </tr>
      </tbody>
    </table>
    <div id="total-amount" style="margin-top: 20px; font-weight: bold;"></div>
  </div>
</div>
